body{
   font-family: 'Do Hyeon', sans-serif;
   
}

.img-fluid{
  width: 100%;
  background-image: url(y.jpg);
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0;
  
}

.img-fluid2{
 width: 100%;
 height: 50vh;

}
#navbarNav.style li .nav-link a{
  color: white;
}
.active{
  color: red !important; 
}


.round{
  width: 100;
  height: 100;
}
